<p>
  operator-example works!
</p>
<button (click)="subscribe()"> Subscribe </button>
<button (click)="unSubscribe()"> Unsubscribe </button>

<br/>
<hr>
<button (click)="combineLatestExample()"> Combine Latest </button>
<br/>
<hr>
<button (click)="concatExample()"> Click Here to see, Concat Example </button>
<button (click)="concatMapExample()"> Click Here to see, Concat Map Example </button>
<br/>
<hr>
<button (click)="forkJoinExample()"> Click Here to see, ForkJoinExample </button>
<br/>
<hr>
<button (click)="mergeExample()"> Click Here to see, Merge Example </button>
<button (click)="mergeMapExample()"> Click Here to see, Merge Map Example </button>
<br/>
<hr>
<button (click)="endWithExample()"> Click Here to see, endWithExample Example </button>
<button (click)="startWithExample()"> Click Here to see, startWithExample Example </button>
<br/>
<hr>
<button (click)="groupByExample()"> Click Here to see, groupBy Example </button>
<button (click)="startWithExample()"> Click Here to see, startWithExample Example </button>